.App {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.card {
  border: 1px solid #fff;
  background-color: #23abd1;
  border-radius: 8px;
  overflow: hidden;
  width: 20%;
  height: auto;
  color: #fff;
  cursor: pointer;
}

.card-top h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 10px;
  color: white;
  text-decoration: underline;
}

.card-top > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: transparent;
}

.card-bottom {
  margin: 10px;
}

.text-desc {
  text-align: justify;
  font-size: 1.5rem;
  color: white;
}